* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

main {
    position: relative;
    top: 3.136rem;
}

footer {
    position: relative;
    top: 3.136rem;
}

/* header */

header {
    position: fixed;
    height: 3.136rem;
    width: 100%;
    border-bottom: 1px solid seashell;
    z-index: 2;
    background-color: black;
}

header .container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #logo {
    height: 2.273rem;
    padding: 0.5rem 0.455rem 0;
    width: auto;
}

header ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-right: 1rem;
}

header li {
    padding-left: 1.5rem;
}

/* mission */

#mission {
    height: 31.82rem;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-size: 90% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mission-statement {
    background-color: black;
    width: 91%;
    text-align: center;
}

/* teas */

#tea-month {
    text-align: center;
}

#image-container ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin-bottom: 1rem;
}

#image-container li {
    height: 9rem;
    width: 13.63rem;
    margin: 1rem 0;
}

#image-container img {
    width: 100%;
}

/* locations */

#locations {
    height: 22.72rem;
    text-align: center;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-size: 90% 100%;
    background-position: center;
}

#locations h2 {
    padding: 1rem
}

.square {
    display: inline-block;
    width: 13.64rem;
    height: 11rem;
    background-color: black;
    margin: 1rem;
    opacity: 1;
}

#locations h4 {
    margin: 1rem 0;
}
#locations p {
    margin: 1rem 0;
}

/* contact */

#contact {
    height: 9rem;
    text-align: center;
}

#contact h2 {
    margin: 0.5rem;
}

#contact h5 {
    margin: 1.5rem;
}

/* footer */

footer {
    height: 2rem;
}

footer h5 {
    margin: 1rem;
}